-- 1. ADD COLUMNS TO USER_PROFILES
ALTER TABLE user_profiles ADD COLUMN IF NOT EXISTS referral_code TEXT UNIQUE;
ALTER TABLE user_profiles ADD COLUMN IF NOT EXISTS referred_by UUID REFERENCES auth.users(id);
ALTER TABLE user_profiles ADD COLUMN IF NOT EXISTS referral_points INTEGER DEFAULT 0;
ALTER TABLE user_profiles ADD COLUMN IF NOT EXISTS referral_count INTEGER DEFAULT 0;
ALTER TABLE user_profiles ADD COLUMN IF NOT EXISTS referral_weekly_earnings INTEGER DEFAULT 0;
ALTER TABLE user_profiles ADD COLUMN IF NOT EXISTS referral_weekly_purchases INTEGER DEFAULT 0;
ALTER TABLE user_profiles ADD COLUMN IF NOT EXISTS last_referral_reset TIMESTAMP WITH TIME ZONE DEFAULT NOW();

-- 2. CREATE COMMISSIONS TABLE
CREATE TABLE IF NOT EXISTS referral_commissions (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  referrer_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
  referred_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
  transaction_id UUID REFERENCES payment_transactions(id) ON DELETE CASCADE,
  amount INTEGER NOT NULL,
  commission_percentage INTEGER NOT NULL,
  status TEXT DEFAULT 'pending',
  reset_at TIMESTAMP WITH TIME ZONE,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- 3. CREATE PAYOUTS TABLE
CREATE TABLE IF NOT EXISTS referral_payouts (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
  amount INTEGER NOT NULL,
  status TEXT DEFAULT 'processing',
  payout_date TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  metadata JSONB
);

-- 4. FUNCTION: GENERATE UNIQUE REFERRAL CODES
CREATE OR REPLACE FUNCTION generate_referral_code() RETURNS TEXT AS \$\$
DECLARE
  code TEXT;
  done BOOL DEFAULT FALSE;
BEGIN
  WHILE NOT done LOOP
    code := upper(substring(md5(random()::text) from 1 for 8));
    IF NOT EXISTS (SELECT 1 FROM user_profiles WHERE referral_code = code) THEN
      done := TRUE;
    END IF;
  END LOOP;
  RETURN code;
END;
\$\$ LANGUAGE plpgsql;

-- 5. TRIGGER: AUTO-GENERATE CODE FOR NEW USERS
CREATE OR REPLACE FUNCTION set_referral_code()
RETURNS TRIGGER AS \$\$
BEGIN
  IF NEW.referral_code IS NULL THEN
    NEW.referral_code := generate_referral_code();
  END IF;
  RETURN NEW;
END;
\$\$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS trigger_set_referral_code ON user_profiles;
CREATE TRIGGER trigger_set_referral_code
BEFORE INSERT ON user_profiles
FOR EACH ROW EXECUTE FUNCTION set_referral_code();

-- 6. FUNCTION: FIND NEXT FRIDAY RESET
CREATE OR REPLACE FUNCTION get_next_friday_reset(input_date TIMESTAMP WITH TIME ZONE) 
RETURNS TIMESTAMP WITH TIME ZONE AS \$\$
DECLARE
    res TIMESTAMP WITH TIME ZONE;
BEGIN
    res := date_trunc('day', input_date) + (((5 - extract(dow from input_date)::int + 7) % 7) * interval '1 day');
    res := res + interval '23 hours 59 minutes 59 seconds';
    RETURN res;
END;
\$\$ LANGUAGE plpgsql;

-- 7. CORE LOGIC: PROCESS REFERRAL EARNINGS
CREATE OR REPLACE FUNCTION process_referral_purchase(p_referred_id UUID, p_amount INTEGER, p_transaction_id UUID) 
RETURNS VOID AS \$\$
DECLARE
    v_referrer_id UUID;
    v_referrer_role TEXT;
    v_percentage INTEGER;
    v_commission INTEGER;
    v_reset_date TIMESTAMP WITH TIME ZONE;
BEGIN
    SELECT referred_by INTO v_referrer_id FROM user_profiles WHERE id = p_referred_id;
    IF v_referrer_id IS NOT NULL THEN
        SELECT role INTO v_referrer_role FROM user_profiles WHERE id = v_referrer_id;
        IF v_referrer_role = 'admin' THEN
            RETURN;
        END IF;
        v_percentage := CASE WHEN v_referrer_role = 'vip' THEN 15 ELSE 10 END;
        v_commission := (p_amount * v_percentage) / 100;
        v_reset_date := get_next_friday_reset(NOW());
        INSERT INTO referral_commissions (referrer_id, referred_id, transaction_id, amount, commission_percentage, reset_at)
        VALUES (v_referrer_id, p_referred_id, p_transaction_id, v_commission, v_percentage, v_reset_date);
        UPDATE user_profiles 
        SET referral_weekly_earnings = referral_weekly_earnings + v_commission,
            referral_weekly_purchases = referral_weekly_purchases + 1
        WHERE id = v_referrer_id;
    END IF;
END;
\$\$ LANGUAGE plpgsql;

-- 8. NEW: FUNCTION TO SAFELY INCREMENT REFERRAL COUNT
CREATE OR REPLACE FUNCTION increment_referral_count(referrer_uuid UUID)
RETURNS VOID AS \$\$
BEGIN
  UPDATE user_profiles
  SET referral_count = referral_count + 1
  WHERE id = referrer_uuid;
END;
\$\$ LANGUAGE plpgsql;

-- 9. UPDATE EXISTING USERS
UPDATE user_profiles SET referral_code = generate_referral_code() WHERE referral_code IS NULL;
