-- Update standard_projects check constraint
ALTER TABLE standard_projects DROP CONSTRAINT IF EXISTS standard_projects_payment_status_check;
ALTER TABLE standard_projects ADD CONSTRAINT standard_projects_payment_status_check 
CHECK (payment_status IN ('pending', 'paid', 'failed', 'refunded', 'free', 'admin_bypass'));

-- Update premium_projects check constraint (just in case)
ALTER TABLE premium_projects DROP CONSTRAINT IF EXISTS premium_projects_payment_status_check;
ALTER TABLE premium_projects ADD CONSTRAINT premium_projects_payment_status_check 
CHECK (payment_status IN ('pending', 'paid', 'failed', 'refunded', 'free', 'admin_bypass'));
